* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: poppins;
}

body {
	background-color: #070f2b;
}

header {
	font-size: 0.8rem;
	display: flex;
	justify-content: center;
	padding: 0.6rem;
	background-color: #9290c3;
	color: #070f2b;
	margin-bottom: 1rem;
}

main {
	width: 90%;
	height: 30rem;
	margin: 0 auto;
	display: flex;
	background-color: #9290c3;
	padding: 0.5rem;
	box-shadow: #2d3250 0 0 1px 5px;
}

.input-search-wrapper {
	display: flex;
	flex-direction: column;
	width: 30%;
	height: 100%;
	border-radius: 0.3rem;
	color: white;
}

.input-section {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	background-color: #535c91;
	padding: 1rem;
}

.input-section .title {
	text-align: center;
	font-weight: 600;
	font-size: 1.5rem;
	margin-bottom: 1.2rem;
}

.input-section #inputBook {
	display: flex;
	flex-direction: column;
}

.input-section #inputBook .input {
	display: flex;
	flex-direction: column;
	margin-bottom: 0.6rem;
}

.input-section #inputBook .input label {
	color: white;
	font-weight: 500;
	font-size: 1rem;
	padding: 0.1rem 0;
}

.input-section #inputBook .input input {
	border: none;
	padding: 0.45rem 0.2rem;
	border-radius: 0.3rem;
}

.input-section #inputBook .input-inline {
	display: flex;
	align-items: center;
	padding: 0.4rem 0;
}

.input-section #inputBook .input-inline input {
	margin-left: 1rem;
	height: 1rem;
	width: 1rem;
}

.input-section #book-submit {
	padding: 0.6rem 0.3rem;
	font-weight: bold;
	border: none;
	border-radius: 0.3rem;
	width: 50%;
	align-self: center;
	margin-top: 1.5rem;
	color: white;
	background-color: #1b1a55;
	transition: 0.2s all;
}

.input-section #book-submit:hover {
	background-color: #070f2b;
}

.search-bar {
	background-color: #1b1a55;
	padding: 0.5rem;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.search-bar #search {
	padding: 0.2rem;
	width: 65%;
}

.wrapper-bookshelf {
	display: flex;
	width: 75%;
	padding-left: 1rem;
	position: relative;
}

.wrapper-bookshelf .book-shelf {
	width: 50%;
	height: 100%;
	background-color: #535c91;
	overflow: auto;
}

.wrapper-bookshelf .book-shelf::-webkit-scrollbar {
	width: 0.5rem;
}
.wrapper-bookshelf .book-shelf::-webkit-scrollbar-track {
	background-color: #070f2b;
}
.wrapper-bookshelf .book-shelf::-webkit-scrollbar-thumb {
	background-color: #f5e8c7;
}

.wrapper-bookshelf .book-shelf .title {
	position: sticky;
	top: 0;
	z-index: 222;
	background-color: #2d3250;
	padding: 0.6rem;
	color: white;
}

.wrapper-bookshelf .book-shelf #inCompleteBookShelfList,
.wrapper-bookshelf .book-shelf #completeBookShelfList {
	height: 100%;
	width: 100%;
	padding: 1rem;
}

.book-wrapper {
	background-color: white;
	padding: 1rem;
	margin-bottom: 1.5rem;
	position: relative;
	box-shadow: #2d3250 0 0 1px 4px;
	border-radius: 0.2rem;
}

.book-wrapper .book .icon-wrapper {
	background-color: #9290c3;
	align-items: center;
	display: inline-flex;
	padding: 0.2rem;
	gap: 0.3rem;
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
	box-shadow: #2d3250 0 0 1px 3px;
	border-radius: 0.1rem;
}

.book-wrapper .book .icon-wrapper > *:hover {
	color: #f5e8c7;
}

.hidden {
	display: none;
}
